
/* the whole page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

::selection {
  background: lightgreen;
}

@font-face {
  font-family: 'gangster';
  src: url(fonts/gangstergrotesk-regular.woff);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'gangster-light';

  src: url(fonts/gangstergrotesk-light.woff);
  font-style: normal;
  font-weight: 100;
}

html {
  font-family: "gangstergrotesk", "Bitstream Vera Serif", sans-serif;

}

body {
  background: url(background.svg);
background-image: url(background.svg);
background-attachment: fixed;
}

a.links:link {
  color: black;
  text-decoration: none;

}

a.links:visited{
  color: black;
  text-decoration: none;

}

a.links:hover {

  background-color: lightgreen;

}

 a.links:active {
  background-color: lightgreen ;

 }

 a.links-main:link {
   color: black;
   text-decoration: none;

 }

 a.links-main:visited{
   color: black;
   text-decoration: none;

 }

 a.links-main:hover {

   background-color: none;

 }

  a.links-main:active {
   background-color: none ;

  }

.page-container{
  position: relative;
  min-height: 100vh;

}

.content-wrap {
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
}
.remaningContent{
  margin-left: 100px;
  margin-right: 20px;

}



.copyright {
font-family: gangster;
position: fixed;
left:0;
writing-mode: vertical-rl;
text-orientation: sideways-right;
padding-left: 5px;
bottom: 10%;
}

.contact {
  position: fixed;
  right:0;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  padding-right: 5px;
  bottom: 10%;
}

ul {
  list-style-type: none;
}
li {
  font-family: gangster;
  z-index: -1;
    list-style-type: none;
}

em{
  font-size: 40px;
}
b.{
  font-family: gangster-bold;
}

p{
font-family: gangster;
  }


  .popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
/*    transition: .64s ease-in-out;
*/}
  .popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    justify-content: center;

    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 60%;
    background-color: rgba(200,200,200, 1);
/*
    transition: .64s ease-in-out;

*/
  }

  .popupphoto img {
    width: auto;
    height: 100%;
  }
  .popuptext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4rem;
  }
  .popuptext h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;

    color: #0A0A0A;
  }
  .popuptext p {
    font-size: .875rem;
    color: #686868;
    line-height: 1.5;
  }

  .popuptext a {
   text-decoration: none;
   color:  #47BDFF;
  }
  .popup:target {
    visibility: visible;
    opacity: 1;
  }
  .popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
  }
  .closepopup {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.875rem;
    font-weight: 300;
    z-index: 4;
    color: black;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .closepopup:hover {
    color:rgb(200, 100, 150);
  }

#uc:hover {
  color: rgb(170, 140, 231);
}

#iki:hover{
  color: rgb(100, 123, 231)
}


.newsletter{
display: flex;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
max-width: 100%;
padding-top: 50px;

color: black;

}

.newsletter hr{
  width: 140px;
  height: 1px;
  margin: 30px auto;
  border: 0;
  background: rgba(0,0,0,1)

}
.newsletter p{
  font-size: 16px;
line-height: 24px;
color: rgba(0,0,0,0.8);
margin-bottom: 30px;
}

.newsletter input{

  background-color: rgba(0,0,0,0.4);
  width:50%;
  height: 55px;
  border: 0px;
  padding: 20px 20px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 36px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}
::placeholder{
  color:black;
}

.text_about{
  display: flex;
  justify-content: flex-start;
  padding-left: 0vw;
  align-items: center;
  padding-top: 20vh;
  flex-direction: column;
}

.text_about p{
  flex: auto;
  justify-content: flex-start;
  padding-left: 0vw;
  align-self: center;
  text-align:  left;
max-width: 600px;
padding-top: 40px;

}

.newsletter button {
  border: 1px solid rgba(0,0,0,0.4);

  height: 50px;
  background-color: white;
  color:black;
  padding: 0px 28px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;


}


.newsletter button:hover{
  background-color: lightgreen;
}

.container{
  font-family: gangster-light;
  width: 60%;
  margin:50px auto;
}

.contact-box{
  display: flex;
  background:  rgba(255,255,255,0.67);
}

.contact-left {
  flex-basis: 100%;
  padding: 40px 60px;
}


.contact-right {
  flex-basis: 40%;
  padding: 40px;
background: rgba(0,0,0);
color:white;
}



.container p{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.container h1{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}


.input-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

}

.input-row .input-group {
  flex-basis: 45%;
  padding-top: 20px;


}

  .input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  padding-top: 10px;
  background: none;
}


 textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
    background: none;
}

.input-row label{
  margin-bottom: 6px;
  display: block;
  color: black;
}

.contact-left button{
  border: 1px solid rgba(0,0,0,0.4);

  height: 30px;
  background-color: black;
  color: white;
  background-color: black;
  padding: 0px 28px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;

}
.contact-left button:hover{
  background-color: lightgreen;
}


.contact-left h3{
font-weight: 600;
margin-bottom: 30px;
}

.contact-right h3{
font-weight: 600;
margin-bottom: 30px;
}

tr td:first-child{
padding-right: 20px;

}
tr td {
  padding-top: 20px;
}


.placeholder{
font-family: gangster;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
flex-direction: column;
  padding-top: 270px;
  padding-bottom: 250px;
}

.placeholder hover{
background-color: blue;
}


.ecommerce{
  font-family: gangster-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
}

.explan{
  font-family: gangster-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.jokes{
  font-family: gangster-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: grey;
    padding-top: 5px;
}

.placeholder h1{

}

.placeholder h1:hover{
text-shadow: -5px 5px lightblue;

}


.placeholder h2:hover{
text-shadow: -2px 2px yellow;

}
.placeholder h3:hover{
text-shadow: -1px 1px red;

}

  /* Mobile Styles */
  @media only screen and (max-width: 350px) {




    .menu-container {
      color: black;
      background-color: none;  /* Blue */
      padding-top: 10px;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      max-width: 100%;
      flex-wrap: wrap;
      height: 50px;

    }

    .menu {
      max-width: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      overflow: hidden;
      flex-wrap: wrap;
      text-decoration: none;
      flex-direction: column;

     padding-left: 20px;
     padding-right: 20px;
    }

    .menu-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-decoration: none;
    }

    .item {
    font-family: gangster;
    padding: 10px;
    }

    a.item:link {
      text-decoration: none;
      color: black;
    }

    a.item:visited {
      text-decoration: none;
      color: black;
    }

    a.item:hover {
      text-decoration: none;
      color: black;
      background-color: lightgreen;
    }

    .yazivefoto {
      max-width: 100%;
      height: auto;
      margin: auto;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      justify-content: center;
      align-self: center;
    }

    .ecem {
      display: flex;
      justify-content: center;
      max-width: 100%;
      height: auto;
      align-self: center;
      align-items: baseline;
    }

    a.ecem:link {
      border: 0px;
      border-color: black;
    }

    a.ecem:hover {
      background-color: lightgreen
      }

    .login {
      font-family: gangster;
      display: flex;
      justify-content: center;
      max-width: 100%;
      height: auto;
      align-self: center;
      align-items: baseline;
      font-size: 25px;
    }
    a.login:link {
      text-decoration: none;
      color: black;
    }
    a.login:visited {
      text-decoration: none;
      color: black;
    }
    a.login:hover {
      text-decoration: none;
      background-color: lightgreen;
    }
   .bio {
      font-family: gangster;
      width: 800px;
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
      height: auto;
      display: flex;
      justify-content: flex-start;
      font-style: normal;
    }

    .Photography{
      padding-left: 20px;
      padding-right: 20px;
      max-width: 100%;
    }
    .photo-instagram {
      position: relative;
      margin: : 0 auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
       font-size: 12px;

    }
    .in {
      padding: none;
    }

    a.in:link {
      text-decoration: none;
      color: black;
    }

    a.in:visited {
      text-decoration: none;
      color: black;
    }

    a.in:hover {
      text-decoration: none;
      background-color: lightgreen;
    }
    a.in:hover {
      text-decoration: none;
      background-color: lightgreen;
    }


       .body-publications {
         display: flex;
         flex-wrap: wrap;
       }

       .image-publications {
       display: flex;
       flex-wrap: wrap;
       }

       .sideimage-container{
       position: relative;
       padding: 30px;
       max-height: 500px;
       max-width: 100%;
       height: auto;
       margin: auto;
       }

       .photo-grid-research {
         width: 100%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         flex-direction: row;
         align-items: center;
       }

       .photo-grid-item {
         margin: 5px;
         width: 299px;
         height: 299px;
         overflow: hidden;
       }

       .photo-grid-container {
         display: flex;
         justify-content: center;
         align-self: center;
         padding-bottom: 0px;
         overflow: hidden;
       flex-wrap: wrap;
         padding-top: 30px;
       }



       .photo-grid {
         max-width: 100%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         flex-direction: row;
         align-self: center;
        }
   .photo-grid-container {
      display: flex;
      justify-content: center;
      align-self: center;
      padding-bottom: 0px;
      overflow: hidden;
      padding-top: 0px;
    }
   .photo-grid-container-main {
        padding-top: 0px;
      display: flex;
      justify-content: center;
      align-self: center ;
      padding-bottom: 0px;
      overflow: hidden;
      flex-wrap: wrap;
      max-width: 950px;
      height: auto;
      flex-direction: row;
      align-content: center;

    }



    .photo-grid-container-main {
         display: none;
     }

     .photo-grid-container-main-mobile {
       padding-top: 0px;
     display: flex;
     justify-content: center;
     align-self: center ;
     padding-bottom: 0px;
     overflow: hidden;
     flex-wrap: wrap;
     max-width: 100%;
     height: auto;
     flex-direction: row;
     align-content: center;

     }

   .photo-grid-main {
      width: 50%;
      height: auto;
     display: flex;
     flex-wrap: wrap;
      overflow: visible;
      justify-content: space-around;
   }
   .photo-grid-item-main {

 max-width: 100%;
 height: auto;
     overflow: visible;
   }

   a.photo-grid-item-main  {
   max-width: 100%;
   height: auto;
   object-position: top;
   object-fit: scale-down;
   }

 a.photo-grid-item-main img {
 max-width: 100%;
 height: auto;
 object-position: top;
 object-fit: scale-down;
 }




    .photo-grid-item {
      margin-top: 30px;

      margin: 5px;
      width: 299px;
      height: 299px;
      overflow: hidden;
    }

    .arrow-container {
      position: fixed;
      align-items: baseline;
      width: 100%;
      height: 100vh;
      padding: 10px;
    }

    .button {
      z-index: 3;
      cursor: pointer;
      transition: 0.8s;
    }

    .w3-btn,.w3-button{
      position: relative;
      border:none;
      padding:30px 16px;
      vertical-align:middle;
      overflow:hidden;
      text-decoration:none;
      color:inherit;
      background-color:inherit;
      text-align:center;
      cursor:pointer;
      z-index: 3;
    }

    .w3-black,.w3-hover-black:hover{
      color:#fff!important;
      background-color:#000!important;
      z-index: 3;
    }

    .w3-display-right{
    position:absolute;
    top:30%;
    right:0;
    z-index: 3;
     margin-right: 0px;
    }

    .w3-display-left{
      position:absolute;
      top:30%;
      left:0;
      z-index: 3;
      margin-left: 0px;
    }

    .slide-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    }

    .mySlides{
    display: flex;
    justify-content: space-around;
    max-width: 100%; /*or whatever you choose*/
    height: auto;
    margin: auto;
    }

    .mySlides img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 500px; /*actual image width*/
    margin: auto; /*optional centering of image*/
    z-index: -1;
    }

    .body-publications {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-height: 400px;
    }

    .image-publications {
      display: flex;
      justify-content: center;
      flex-direction: row;
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      height: auto;
      overflow: hidden;
      flex-shrink: 3;
    }

    .links {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: left;
      padding: 10px;
      overflow: auto;
      margin-top: 10px;
      }

    .research-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
    }

    .figure {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    height: auto;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    }

    .explanation {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-width: 900px;
    height: auto;
    margin:auto;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    }

    .explanation-design {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    }

    .arch-design {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    }
    /* footer */
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      height: 100px;
      flex-shrink: 0;
      padding-top: 20px;

    }
    .footer-item {
      display: flex;
      justify-content: center;
    }
    .adres {
      display: inline-block;
      justify-content: center;
     }
    .copyright-bottom {
      padding-top: 10px;
    }



}


  /* Tablet Styles */
  @media only screen and (min-width: 350px) and (max-width: 598px) {


    .menu-container {
      color: black;
      background-color: none;  /* Blue */
      padding-top: 10px;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      max-width: 100%;
      flex-wrap: wrap;

    }

    .menu {
      max-width: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      overflow: hidden;
      flex-wrap: wrap;
      text-decoration: none;
      flex-direction: column;

     padding-left: 20px;
     padding-right: 20px;
    }

    .menu-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-decoration: none;
    }

    .item {
    font-family: gangster;
    padding: 10px;
    }

    a.item:link {
      text-decoration: none;
      color: black;
    }

    a.item:visited {
      text-decoration: none;
      color: black;
    }

    a.item:hover {
      text-decoration: none;
      color: black;
      background-color: lightgreen;
    }

    .yazivefoto {
      max-width: 100%;
      height: auto;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      justify-content: center;
      align-self: center;
    }

    .ecem {
      display: flex;
      justify-content: center;
      max-width: 100%;
      height: auto;
      align-self: center;
      align-items: baseline;
    }

    a.ecem:link {
      border: 3px;
      border-color: black;
    }

    a.ecem:hover {
      background-color: lightgreen
      }

    .login {
      font-family: gangster;
      display: flex;
      justify-content: center;
      max-width: 100%;
      height: auto;
      align-self: center;
      align-items: baseline;
      font-size: 30px;
    }

    .in {
      padding: none;
    }

    a.in:link {
      text-decoration: none;
      color: black;
    }

    a.in:visited {
      text-decoration: none;
      color: black;
    }

    a.in:hover {
      text-decoration: none;
      background-color: lightgreen;
    }
    a.in:hover {
      text-decoration: none;
      background-color: lightgreen;
    }

    a.login:link {
      text-decoration: none;
      color: black;
    }

    a.login:visited {
      text-decoration: none;
      color: black;
    }

    a.login:hover {
      text-decoration: none;
      background-color: lightgreen;
    }

    /* body */

    .bio {
      font-family: gangster;
      width: 600px;
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
      height: auto;
      display: flex;
      justify-content: flex-start;
      font-style: normal;
    }
    .Photography{
      padding-left: 20px;
      padding-right: 20px;
      max-width: 100%;
    }


    .photo-instagram {
      position: relative;
      margin: : 0 auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
       font-size: 12px;

    }

       .body-publications {
         display: flex;
         flex-wrap: wrap;
       }

       .image-publications {
       display: flex;
       flex-wrap: wrap;
       }

       .sideimage-container{
       position: relative;
       padding: 30px;
       max-height: 500px;
       max-width: 100%;
       height: auto;
       margin: auto;
       }

       .photo-grid-research {
         width: 100%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         flex-direction: row;
         align-items: center;
       }

       .photo-grid-item {
         margin: 5px;
         width: 299px;
         height: 299px;
         overflow: hidden;
       }

       .photo-grid-container {
         display: flex;
         justify-content: center;
         align-self: center;
         padding-bottom: 0px;
         overflow: hidden;
       flex-wrap: wrap;
         padding-top: 30px;
       }



       .photo-grid {
         max-width: 100%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         flex-direction: row;
         align-self: center;
        }

       .photo-grid-container {
         display: flex;
         justify-content: center;
         align-self: center;
         padding-bottom: 0px;
         overflow: hidden;
         padding-top: 10px;
        max-width: 100%;
       }


       .photo-grid-item {
         margin-top: 30px;

         margin: 5px;
         width: 299px;
         height: 299px;
         overflow: hidden;
       }


       .photo-grid-container-main-mobile {
         padding-top: 0px;
       display: flex;
       justify-content: center;
       align-self: center ;
       padding-bottom: 0px;
       overflow: hidden;
       flex-wrap: wrap;
       max-width: 100%;
       height: auto;
       flex-direction: row;
       align-content: center;
       font-size: 0px;

       }

       .photo-grid-container-main {
            display: none;

        }

       .photo-grid-main {
          width: 50%;
          height: auto;
         display: flex;
         flex-wrap: wrap;
          overflow: visible;
          justify-content: space-around;
       }
       .photo-grid-item-main {
          max-width: 100%;
          height: auto;
          overflow: visible;
        }

       a.photo-grid-item-main  {
       max-width: 100%;
       height: auto;
       object-position: top;
       object-fit: scale-down;
       }

      a.photo-grid-item-main img {
      max-width: 100%;
      height: auto;
      object-position: top;
      object-fit: scale-down;
      }





         .photo-grid-item {
           margin-top: 30px;

           margin: 5px;
           width: 299px;
           height: 299px;
           overflow: hidden;
         }

         .arrow-container {
           position: fixed;
           align-items: baseline;
           width: 100%;
           height: 100vh;
           padding: 10px;
         }

         .button {
           z-index: 3;
         }

         .w3-btn,.w3-button{
           position: relative;
           border:none;
           padding:30px 16px;
           vertical-align:middle;
           overflow:hidden;
           text-decoration:none;
           color:inherit;
           background-color:inherit;
           text-align:center;
           cursor:pointer;
           z-index: 3;
         }

         .w3-black,.w3-hover-black:hover{
           color:#fff!important;
           background-color:#000!important;
           z-index: 3;
           cursor: pointer;
           transition: 0.5s;
         }

         .w3-display-right{
         position:absolute;
         top:30%;
         right:0;
         z-index: 3;
          margin-right: 0px;
         }

         .w3-display-left{
           position:absolute;
           top:30%;
           left:0;
           z-index: 3;
           margin-left: 0px;
         }

         .slide-container {
         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;

         }

         .mySlides{
         display: flex;
         justify-content: space-around;
         max-width: 100%; /*or whatever you choose*/
         height: auto;
         margin: auto;
         }

         .mySlides img {
         display: block;
         margin: auto;
         width: auto;
         max-width: 100%;
         height: auto;
         max-height: 500px; /*actual image width*/
         margin: auto; /*optional centering of image*/
         z-index: -1;
         }

         .body-publications {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           max-height: 400px;
         }

         .image-publications {
           display: flex;
           justify-content: center;
           flex-direction: row;
           max-width: 100%;
           padding-left: 30px;
           padding-right: 30px;
           height: auto;
           overflow: hidden;
           flex-shrink: 3;
         }

         .links {
           display: flex;
           justify-content: center;
           flex-direction: column;
           flex-wrap: wrap;
           align-items: left;
           padding: 10px;
           overflow: auto;
           margin-top: 10px;
           }

         .research-container {
         display: flex;
         justify-content: space-around;
         max-width: 100%;
         height: auto;
         margin: auto;
         flex-wrap: wrap;
         align-items: baseline;
         flex-direction: column;
         }

         .figure {
         display: flex;
         justify-content: center;
         max-width: 100%;
         align-items: center;
         height: auto;
         margin: auto;
         padding-left: 0px;
         padding-right: 0px;
         padding-bottom: 20px;
         }

         .explanation {
         display: flex;
         justify-content: space-around;
         max-width: 100%;
         max-width: 900px;
         height: auto;
         margin:auto;
         flex-direction: column;
         padding-left: 20px;
         padding-right: 20px;
         }

         .explanation-design {
         display: flex;
         justify-content: space-around;
         max-width: 100%;
         max-width: 900px;
         height: auto;
         margin: auto;
         flex-direction: row;
         padding-left: 20px;
         padding-right: 20px;
         padding-bottom: 10px;
         }

         .arch-design {
         display: flex;
         justify-content: space-around;
         max-width: 100%;
         max-width: 600px;
         height: auto;
         margin: auto;
         padding-left: 0px;
         padding-right: 0px;
         padding-top: 0px;
         padding-bottom: 10px;
         }
         /* footer */
         .footer-container {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;

         }
         .footer {
           position: absolute;
           bottom: 0;
           width: 100%;
           text-align: center;
           height: 100px;
           flex-shrink: 0;
           padding-top: 20px;

         }
         .footer-item {
           display: flex;
           justify-content: center;
         }
         .adres {
           display: inline-block;
           justify-content: center;
          }
         .copyright-bottom {
           padding-top: 10px;
         }



     }

 /* Desktop Styles */
 @media only screen and (min-width: 598px) {

   /* header */

.placeholder{
font-family: gangster;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
flex-direction: column;
  padding-top: 270px;
  padding-bottom: 250px;
}
.ecommerce{
  font-family: gangster-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
}

.explan{
  font-family: gangster-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.jokes{
  font-family: gangster-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: grey;
    padding-top: 5px;
}

   .menu-container {
     color: black;
     background-color: none;  /* Blue */
     padding-top: 10px;
     padding-left: 0px;
     padding-right: 0px;
     display:  flex;
     justify-content: space-between;
     overflow: hidden;
     max-width: 100%;
     flex-wrap: wrap;

   }

   .menu {
     max-width: 100%;
     width: 100vw;
     display: flex;
     justify-content: space-between;
     overflow: hidden;
     flex-wrap:  wrap;
     text-decoration: none;
     flex-direction:  row;

    padding-left: 20px;
    padding-right: 20px;

    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
   }

   .menu-items {
    position:fixed;
    right:0;
    padding-top: 5px;
    padding-right: 15px;

   }

   .item {
   font-family: gangster;
   padding: 10px;
   }

   a.item:link {
     text-decoration: none;
     color: black;
   }

   a.item:visited {
     text-decoration: none;
     color: black;
   }

   a.item:hover {
     text-decoration: none;
     color: black;
     background-color: lightgreen;
   }

   .yazivefoto {
     max-width: 100%;
     height: auto;
     margin: auto;
     padding-left: 10px;
     padding-top: 10px;
     padding-right: 20px;
     position: fixed;
   }

   .logo {
     display: flex;
     justify-content: center;
     max-width: 60px;
     height: auto;
     align-self: center;
     align-items: baseline;
   }

   a.logo:link {
     border: 3px;
     border-color: black;
   }

   a.logo:hover {
     background-color: lightgreen
     }

   .login {
     font-family: gangster-light;
     display: flex;
     justify-content: center;
     max-width: 100%;
     height: auto;
     align-self: center;
     align-items: baseline;
     font-size: 55px;
     writing-mode: vertical-rl;
text-orientation: upright;
padding-top: 10px;
   }

   .in {
     padding: none;
   }

   a.in:link {
     text-decoration: none;
     color: black;
   }

   a.in:visited {
     text-decoration: none;
     color: black;
   }

   a.in:hover {
     text-decoration: none;
     background-color: lightgreen;
   }
   a.in:hover {
     text-decoration: none;
     background-color: lightgreen;
   }

   a.login:link {
     text-decoration: none;
     color: black;
   }

   a.login:visited {
     text-decoration: none;
     color: black;
   }

   a.login:hover {
     text-decoration: none;
     background-color: lightgreen;
   }

.button{
  font-family: gangster-light;
  background: #FFFFFF;
  border: 1px solid #000000;

  margin-top: 30px;
padding-left: 10px;
padding-right: 10px;
  font-size: 22px;
}

a.button:link {
  text-decoration: none;
  color: black;
  margin-top: 30px;
padding-left: 10px;
padding-right: 10px;
}

a.button:visited {
  text-decoration: none;
  color: black;
  margin-top: 20px;
padding-left: 10px;
padding-right: 10px;
}

a.button:hover {
  text-decoration: none;
  background-color: lightgreen;
  margin-top: 20px;
padding-left: 10px;
padding-right: 10px;
}

   /* body */

.navbar {
  background: inherit;
}



   .photo-grid-container-main-mobile {
     display: none;
   }

   .bio {
     font-family: gangster;
     width: 600px;
     padding-top: 20px;
     padding-right: 20px;
     padding-left: 20px;
     height: auto;
     display: flex;
     justify-content: flex-start;
     font-style: normal;
   }

   .photo-instagram {
     position: relative;
     margin: : 0 auto;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     font-size:

   }


   .body-publications {
     display: flex;
     flex-wrap: wrap;
   }

   .image-publications {
   display: flex;
   flex-wrap: wrap;
   }

   .sideimage-container{
   position: relative;
   padding: 30px;
   max-height: 500px;
   max-width: 100%;
   height: auto;
   margin: auto;
   }

   .photo-grid-research {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
   }

   .photo-grid-item {
     margin: 5px;
     width: 299px;
     height: 299px;
     overflow: hidden;
   }

   .photo-grid-container {
     display: flex;
     justify-content: center;
     align-self: center;
     padding-bottom: 0px;
     overflow: hidden;
   flex-wrap: wrap;
     padding-top: 30px;
   }



   .photo-grid {
     max-width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     align-self: center;
    }

    .photo-grid-container-main {
      display: flex;
      justify-content: space-between;
      align-self: center;
      padding-bottom: 0px;
      overflow: hidden;
      flex-wrap: wrap;
      max-width: 1000px;
      height: auto;
      margin: auto;
      flex-direction: column;
      padding-top: 10px;
    }

    .photo-grid-main {
      padding-top: 30px;
      max-width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      align-self: center;
     }


     .photo-grid-item-main {
display:  flex;
flex-direction: column;
width: 70%;

     }

.subHeaders{
  font-family: gangster-light;
  font-size: 30px;
  }

  .explan2 {
    font-family: gangster-light;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding-left: 80px;
      max-width: 900px;
      padding-top: 10px;
  }

  .explan3 {
    font-family: gangster-light;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding-right: 80px;
      max-width: 900px;
      padding-top: 10px;
  }


.iconAndName{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self:  flex-start;
}



.iconAndName img:hover{
filter:drop-shadow(5px 5px  rgb(200, 100, 150));

}

.seo img:hover{
  filter:drop-shadow(5px 5px  rgb(170, 140, 231));
}

.iconAndName2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self:  flex-end;
}


.iconAndName2 img:hover{
filter:drop-shadow(-5px 5px  rgb(100, 123, 231));

}
  .null{
    width: 30%;
  }

  .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:  center;
    padding-left: 0px;
    width: 120px;
    height: 100px;

  }

  .icon2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:  center;
    padding-left: 0px;
    width: auto;
    height: 120px;

  }
/*
   a.photo-grid-item-main img {
     width: 299px;
       height: 298px;
   object-position: top;
   object-fit: cover;
   }

   a.photo-grid-item-main img:hover {
     width: 299px;
       height: 298px;
      object-fit: cover;
     object-position: bottom;
   }

*/


   .photo-grid-item {
     margin-top: 30px;

     margin: 5px;
     width: 299px;
     height: 299px;
     overflow: hidden;
   }

   .arrow-container {
     position: fixed;
     align-items: baseline;
     width: 100%;
     height: 100vh;
     padding: 10px;
   }

   .button {
     z-index: 3;
   }

   .w3-btn,.w3-button{
     position: relative;
     border:none;
     padding:30px 16px;
     vertical-align:middle;
     overflow:hidden;
     text-decoration:none;
     color:inherit;
     background-color:inherit;
     text-align:center;
     cursor:pointer;
     z-index: 3;
   }

   .w3-black,.w3-hover-black:hover{
     color:#fff!important;
     background-color:#000!important;
     z-index: 3;
   }

   .w3-display-right{
   position:absolute;
   top:30%;
   right:0;
   z-index: 3;
    margin-right: 0px;
   }

   .w3-display-left{
     position:absolute;
     top:30%;
     left:0;
     z-index: 3;
     margin-left: 0px;
   }

   .slide-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

   }

   .mySlides{
   display: flex;
   justify-content: space-around;
   max-width: 100%; /*or whatever you choose*/
   height: auto;
   margin: auto;
   }

   .mySlides img {
   display: block;
   margin: auto;
   width: auto;
   max-width: 100%;
   height: auto;
   max-height: 500px; /*actual image width*/
   margin: auto; /*optional centering of image*/
   z-index: -1;
   }

   .body-publications {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     max-height: 400px;
   }

   .image-publications {
     display: flex;
     justify-content: center;
     flex-direction: row;
     max-width: 100%;
     padding-left: 30px;
     padding-right: 30px;
     height: auto;
     overflow: hidden;
     flex-shrink: 3;
   }

   .links {
     display: flex;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: left;
     padding: 10px;
     overflow: auto;
     margin-top: 10px;
     }

   .research-container {
   display: flex;
   justify-content: space-around;
   max-width: 100%;
   height: auto;
   margin: auto;
   flex-wrap: wrap;
   align-items: baseline;
   flex-direction: column;
   }

   .figure {
   display: flex;
   justify-content: center;
   max-width: 100%;
   align-items: center;
   height: auto;
   margin: auto;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 20px;
   }

   .explanation {
   display: flex;
   justify-content: space-around;
   max-width: 100%;
   max-width: 900px;
   height: auto;
   margin:auto;
   flex-direction: column;
   padding-left: 20px;
   padding-right: 20px;
   }

   .explanation-design {
   display: flex;
   justify-content: space-around;
   max-width: 100%;
   max-width: 900px;
   height: auto;
   margin: auto;
   flex-direction: row;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   }

   .arch-design {
   display: flex;
   justify-content: space-around;
   max-width: 100%;
   max-width: 600px;
   height: auto;
   margin: auto;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 10px;
   }
   /* footer */

   .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     text-align: center;
     height: 100px;
     flex-shrink: 0;
     padding-top: 20px;
     justify-content: space-between;
     margin-top: 150px;
     padding-bottom: 20px;
   }

   .footer-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-left: 50px;
     padding-right: 50px;
     flex-direction: column;

   }

.rightFooter{
  display: flex;
  justify-content: center;
}

.item {
font-family: gangster;
padding: 10px;
max-width: 200px;
}

a.item:link {
  text-decoration: none;
  color: black;
  max-width: 200px;
}

a.item:visited {
  text-decoration: none;
  color: black;
  max-width: 200px;
}

a.item:hover {
  text-decoration: none;
  color: black;
  background-color: lightgreen;
  max-width: 200px;
}

   .footer-item {
     display: flex;
     justify-content: center;
   }
   .adres {
     display: inline-block;
     justify-content: center;
    }
   .copyright-bottom {
     padding-top: 70px;
     padding-bottom: 40px;
     display: flex;

     justify-content: center;
   }


 }
